<section class="calculator">
    <h2 class="calculator-title section-title">Калькулятор</h2>
    <input class="calculator-input" id="calculator-number1" placeholder="Введіть число">
    <ul class="calculator-list">
        <li class="calculator-item"><button id="calculator-add">+</button></li>
        <li class="calculator-item"><button id="calculator-multiply">*</button></li>        <li class="calculator-item"><button id="calculator-subtract">-</button></li>
        <li class="calculator-item"><button id="calculator-divide">/</button></li>
    </ul>
    <input class="calculator-input" id="calculator-number2" placeholder="Введіть число">
    <button id="calculator-equals">=</button>
    <p class="calculator-text"></p>
</section>