<section class="cards">
    <h2 class="cards-title section-title">Картки</h2>
    <ul class="cards-list">
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
        <li class="cards-item"><button class="cards-card" type="button"></button></li>
    </ul>
    <div class="cards-wrap">
        <p class="cards-won">Вітаємо, ви перемогли!</p>
        <button class="cards-button" type="button">Нова гра</button>
    </div>
    <p class="cards-text">Ходів використано: 0</p>
</section>