<footer class="footer">
    <ul class="footer-list">
        <li class="footer-wrap"><a href="#" class="footer-logo-link"><img src="./images/footer-logo.svg" alt="Coding Magic logo" class="footer-logo"></a></li>
        <li class="footer-wrap">
            <ul class="footer-socials">
                <li class="footer-social"><p class="footer-text">Тел: <a href="#" class="footer-link">+38 (123) 456 78 90</a></p></li>
                <li class="footer-social"><p class="footer-text">E-Mail: <a href="#" class="footer-link">codingmagic@gmail.com</a></p></li>
                <li class="footer-social"><p class="footer-text">Facebook: <a href="#" class="footer-link">CodingMagic</a></p></li>
                <li class="footer-social"><p class="footer-text">Twitter: <a href="#" class="footer-link">CodingMagic</a></p></li>
                <li class="footer-social"><p class="footer-text">Instagram: <a href="#" class="footer-link">CodingMagic</a></p></li>
            </ul>
        </li>
        <li class="footer-wrap">
            <form class="footer-form">
                <input type="text" placeholder="Ваша ел. адреса..." class="footer-input">
                <button type="submit" class="footer-button">Підписатись</button>
            </form>
            <p class="footer-minitext">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </li>
    </ul>
</footer>