<header class="header">
    <div class="container">
        <nav class="header-navigation">
            <a href="#" class="header-logo-link"><img src="./images/header-logo.svg" alt="Coding Magic logo" class="header-logo"></a>
            <ul class="header-list">
                <li class="header-item" id="header-opening"><button type="button" id="header-button" class="header-link">Інтерактив</button>
                    <ul class="header-sublist">
                        <li class="header-subitem"><a href="#" class="header-sublink">Числовий</a></li>
                        <li class="header-subitem"><a href="#" class="header-sublink">Ігровий</a></li>
                        <li class="header-subitem"><a href="#" class="header-sublink">Ознайомчий</a></li>
                    </ul>
                </li>
                <li class="header-item"><a href="#" class="header-link">Наша команда</a></li>
                <li class="header-item"><a href="#" class="header-link">Контакти</a></li>
            </ul>
        </nav>
        <div class="header-wrap">
            <button type="button" class="header-switch"></button>
            <p class="header-text">Вітаємо, User!</p>
        </div>
    </div>
</header>