<section class="popup">
    <div class="popup-popup">
        <p class="popup-text">Привіт!<br>Ви потрапили на сайт інтерактивних ігор та завдань<br>Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>Бажаємо Вам гарно провести час!</p>
        <p class="popup-text">Введіть своє ім’я:</p>
        <form class="popup-form">
            <input type="text" placeholder="Ваше ім’я..." class="popup-input">
            <button type="submit" class="popup-button">Зберегти</button>
        </form>
        <button type="submit" class="popup-close"></button>
    </div>
</section>