<section class="rps">
    <h2 class="rps-title section-title">Камінь - ножиці - папір</h2>
    <ul class="rps-list">
        <li class="rps-item"><button type="button" class="rps-itembutton" id="rock"></button></li>
        <li class="rps-item"><button type="button" class="rps-itembutton" id="scissors"></button></li>
        <li class="rps-item"><button type="button" class="rps-itembutton" id="paper"></button></li>
    </ul>
    <p class="rps-text"></p>
    <button type="button" class="rps-button">Варіант комп’ютера</button>
    <p class="rps-score">Рахунок:<br>Комп’ютер - 0<br>Ви - 0</p>
</section>