<section class="scientists">
    <h2 class="scientists-title  section-title">Обери вченого/их</h2>
    <ul class="scientists-list">
        <!--Будується при завантаженні сторінки-->
    </ul>
    <button type="button" class="scientists-reset">Скинути</button>
    <div class="scientists-wrap">
        <ul class="scientists-buttons">
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Які вчені народилися в 19 ст.</button></li>
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Відсортувати вчених за алфавітом</button></li>
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Відсортувати вчених за кількістю прожитих років</button></li>
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Знайти вченого, який народився найпізніше</button></li>
        </ul>
        <ul class="scientists-buttons">
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Знайти рік народження Albert Einshtein</button></li>
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Знайти вчених, прізвища яких починаються на на літеру “С” </button></li>
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Видалити всіх вчених, ім’я яких починається на “А”</button></li>
            <li class="scientists-buttons-item"><button type="button" class="scientists-button">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button></li>
        </ul>
    </div>
    <ul class="scientists-buttons scientists-last">
        <li class="scientists-buttons-item"><button type="button" class="scientists-button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
    </ul>
    <div class="scientists-popup">
        <div class="scientists-popup-block">
            <p class="scientists-popup-text"></p>
            <button type="submit" class="scientists-popup-close"></button>
        </div>
    </div>
</section>