<section class="team">
    <h2 class="team-title  section-title">Наша команда</h2>
    <div class="team-arrow team-left">&#10094;</div>
    <div class="team-arrow team-right">&#10095;</div>
<div class="team-slider">
    <div class="team-card">
        <img id="team-photo" class="team-img" src="./images/minion.png" alt="Фото">
        <h3 id="team-name">Олександра</h3>
        <p id="team-info">Дуже швидко робить завдання і допомагає.</p>
    </div>
    <div class="team-card team-hidden">
        <img id="team-photo" class="team-img" src="./images/minion2.png" alt="Фото">
        <h3 id="team-name">Назар</h3>
        <p id="team-info">Якщо треба буде щось зробити то зробить.</p>
    </div>
</div>
</section>