<section class="threenumbers">
    <h2 class="threenumbers-title section-title">Введіть 3 числа</h2>
    <ul class="threenumbers-list">
        <li class="threenumbers-item"><input type="text" class="threenumbers-input" placeholder="Введіть число"></li>
        <li class="threenumbers-item"><input type="text" class="threenumbers-input" placeholder="Введіть число"></li>
        <li class="threenumbers-item"><input type="text" class="threenumbers-input" placeholder="Введіть число"></li>
    </ul>
    <p class="threenumbers-text"></p>
</section>