.header .container {
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
}
.header {
    background-color: var(--background);
    padding-top: 21px;
    padding-bottom: 21px;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-logo {
    width: 93px;
    height: 38px;
}
.header-logo-link {
    margin-right: 81px;
}
.header-list {
    display: flex;
}
#header-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#header-button::after {
    content: "";
    display: block;
    width: 9px;
    height: 5px;
    margin-left: 8px;
    background-image: url(../images/header-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.header-item:first-child {
    position: relative;
}
.header-sublist {
    display: none;
    position: absolute;
    top: 20px;
    left: -30px;
    width: 150px;
    background-color: var(--background);
    border: solid 1px var(--main);
    border-top: none;
    border-radius: 0 0 20px 20px;
}
.header-subitem {
    text-align: center;
}
.header-sublink {
    display: block;
    padding: 10px 0 10px 0;
}
.header-sublink:hover, .header-sublink:focus {
    background-color: var(--hover);
}
.header-subitem:last-child .header-sublink {
    border-radius: 0 0 20px 20px;
}
.header-link {
    margin-right: 50px;    
}
.header-link:hover, .header-link:focus {
    color: var(--main-hover);
}
#header-button:hover::after, #header-button:focus::after {
    background-image: url(../images/header-arrow-hover.svg);
}
.header-wrap {
    display: flex;
    align-items: center;
}
.header-switch {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: none;
    background-image: url(../images/light-mode.svg);
    cursor: pointer;
    margin-right: 51px;
}

.fortitle-title {
    font-size: 24px;
    text-align: center;
}

.popup, .scientists-popup, .thanks {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
    display: block;
    z-index: 1;
}
.popup-popup {
    position: fixed;
    left: calc(50% - (576px / 2));
    top: calc(50% - (316px / 2));
    background-color: var(--background);
    width: 576px;
    height: 316px;
    padding: 46px 92px 47px;
    border-radius: 20px;
    background-image: url(../images/sword.svg),  url(../images/puzzle.svg),  url(../images/game-development.svg),  url(../images/tic-tac-toe.svg);
    background-repeat: no-repeat;
    background-position-x: 41px,  85px,  505px,  461px;
    background-position-y: 154px,  230px,  154px,  230px;
    z-index: 2;
}
.popup::after {
    display: none;
}
.popup-text {
    text-align: center;
}
.popup-text:first-child {
    margin-bottom: 42px;
}
.popup-text:nth-child(2) {
    margin-bottom: 18px;
}
.popup-input {
    display: block;
    border: none;
    border-radius: 20px;
    background-color: var(--input);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}
.popup-input:hover, .popup-input:focus {
    background-color: var(--input-hover);
}
.popup-input::placeholder {
    opacity: 1;
    color: var(--placeholder);
}
.popup-button {
    display: block;
    border: none;
    border-radius: 20px;
    background-color: var(--main);
    box-shadow: 3px 3px 0px 0px var(--shadow);
    padding: 10px;
    color: var(--background);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.popup-button:hover, .popup-button:focus {
    box-shadow: 2px 2px 0px 0px var(--shadow);
    background-color: var(--main-hover);
}
.popup-close, .scientists-popup-close, .thanks-close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-image: url(../images/close-icon.svg);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.popup-close:hover, .popup-close:focus, .scientists-popup-close:hover, .scientists-popup-close:focus, .thanks-close:hover, .thanks-close:focus {
    background-image: url(../images/close-icon-hover.svg);
}

.year-input {
    width: 180px;
}
.year-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 576px;
    align-items: center;
}
.year-text {
    text-align: right;
}

.rps {
    position: relative;
}
.rps-list {
    position: relative;
    width: 256px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 36px auto;
}
.rps-itembutton {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--main);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.rps-item:first-child .rps-itembutton {
    background-image: url(../images/rock.svg);
}
.rps-item:nth-child(2) .rps-itembutton {
    background-image: url(../images/scissors.svg);
}
.rps-item:nth-child(3) .rps-itembutton {
    background-image: url(../images/paper.svg);
}
.rps-itembutton-pressed {
    background-color: var(--main-hover);
}
.rps-itembutton-computer {
    box-shadow: 3px 3px 0px 0px var(--shadow);    
}
.rps-text {
    height: 15px;
    text-align: center;
    margin-bottom: 36px;
}
.rps-button {
    display: block;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--main);
    border-radius: 20px;
    color: var(--background);
    cursor: pointer;
}
.rps-button:hover, .rps-button:focus, .rps-itembutton:hover, .rps-itembutton:focus {
    background-color: var(--main-hover);
}
.rps-score {
    position: absolute;
    width: fit-content;
    right: 20%;
    top: 92px;
    line-height: 170%;
}

.calculator-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 629px;
    margin: 0 auto;
}
.calculator-input {
    border: none;
    border-radius: 20px;
    background-color: var(--input);
    padding: 10px;
    width: 135px;
    box-shadow: 3px 3px 0px 0px var(--shadow);
}
.calculator-input:hover, .calculator-input:focus {
    background-color: var(--input-hover);
    box-shadow: 2px 2px 0px 0px var(--shadow);
}
.calculator-input::placeholder {
    opacity: 1;
    color: var(--placeholder);
}
.calculator-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 60px;
    height: 60px;
}
.calculator-button {
    border: none;
    border-radius: 20px;
    background-color: var(--main);
    box-shadow: 3px 3px 0px 0px var(--shadow);
    padding: 5px;
    color: var(--background);
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.calculator-button:hover, .calculator-button:focus {
    background-color: var(--main-hover);
    box-shadow: 2px 2px 0px 0px var(--shadow);
}
.calculator-button-pressed {
    background-color: var(--main-hover);
    box-shadow: 2px 2px 0px 0px var(--shadow);
}
.calculator-text {
    border-radius: 20px;
    background-color: var(--input);
    padding: 10px 0;
    width: 118px;
    height: 35px;
    color: var(--placeholder);
    text-align: center;
}

.football-field {
    position: relative;
    width: 100%;
    max-width: 720px;
    height: 220px;
    background-color: var(--football-field);
    border: solid var(--main) 2px;
    border-radius: 37px;
    margin: 0 auto;
}
.football-ball {
    position: absolute;
    left: 92px;
    top: 85px;
    width: 50px;
    height: 50px;
    background-image: url(../images/football-ball.svg);
    background-position: center;
}

.scientists {
    position: relative;
    padding-bottom: 36px;
}
.scientists::after {
    display: none;
}
.scientists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 36px;
    column-gap: 59px;
    width: 577px;
    margin: 0 auto;
    margin-bottom: 36px;
}
.scientists-item {
    width: 100px;
    height: 100px;
    background-color: var(--scientist);
    border-radius: 20px;
    padding-top: 41px;
    text-align: center;
}
.scientists-name, .scientists-years {
    font-size: 8px;
}
.scientists-wrap {
    display: flex;
    margin-bottom: 20px;
}
.scientists-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    height: 270px;
    margin: 0 auto;
    height: fit-content;
}
.scientists-wrap .scientists-buttons:first-child {
    align-items: flex-end;
    width: 450px;
    margin-right: 18px;
}
.scientists-wrap .scientists-buttons:nth-child(2) {
    align-items: flex-start;
    width: 450px;
    margin-left: 18px;
}
.scientists-last {
    align-items: center;
}
.scientists-button {
    border: none;
    border-radius: 20px;
    background-color: var(--main);
    box-shadow: 3px 3px 0px 0px var(--shadow);
    padding: 10px 20px;
    color: var(--background);
    cursor: pointer;
    text-align: left;
}
.scientists-button:last-child {
    align-self: center;
}
.scientists-button:hover, .scientists-button:focus {
    box-shadow: 2px 2px 0px 0px var(--shadow);
    background-color: var(--main-hover);
}
.scientists-popup {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
    display: none;
    z-index: 1;
}
.scientists-popup-block {
    position: fixed;
    left: calc(50% - (300px / 2));
    top: calc(50% - (100px / 2));
    background-color: var(--background);
    width: 210px;
    height: 100px;
    padding: 27px 52px 26px;
    border-radius: 20px;
    z-index: 2;
}
.scientists-popup-text {
    text-align: center;
}
.scientists-reset {
    display: none;
    position: absolute;
    top: 91px;
    right: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--main);
    padding: 10px 20px;
    color: var(--background);
    cursor: pointer;
}
.scientists-reset:hover, .scientists-reset:focus {
    background-color: var(--main-hover);
}

.footer .container {
    max-width: 1131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    background-color: var(--background);
    padding-top: 61px;
    padding-bottom: 59px;
}
.footer-text {
    line-height: 170%;
    text-align: left;
}
.footer-link:hover, .footer-link:focus {
    color: var(--main-hover);
}
.footer-form {
    display: flex;
    margin-bottom: 18px;
}
.footer-input {
    display: block;
    border: none;
    border-radius: 20px;
    background-color: var(--input);
    padding: 10px;
    margin-right: 36px;
}
.footer-input:hover, .footer-input:focus {
    background-color: var(--input-hover);
}
.footer-input::placeholder {
    color: var(--placeholder);
}
.footer-button {
    display: block;
    border: none;
    border-radius: 20px;
    background-color: var(--main);
    padding: 10px;
    color: var(--background);
    cursor: pointer;
}
.footer-button:hover, .footer-button:focus {
    background-color: var(--main-hover);
}
.footer-minitext {
    font-size: 6px;
    text-align: left;
}

.thanks {
    display: none;
}
.thanks-popup {
    position: fixed;
    left: calc(50% - (463px / 2));
    top: calc(50% - (245px / 2));
    background-color: var(--background);
    width: 463px;
    height: 245px;
    padding-top: 83px;
    border-radius: 20px;
    background-image: url(../images/sword.svg),  url(../images/puzzle.svg),  url(../images/game-development.svg),  url(../images/tic-tac-toe.svg);
    background-repeat: no-repeat;
    background-position-x: 43px,  87px,  347px,  391px;
    background-position-y: 69px,  145px,  145px,  69px;
    z-index: 2;
}
.thanks::after {
    display: none;
}
.thanks-text {
    text-align: center;
    font-size: 20px;
}