.thanks {
    display: none;
}

.header .container {
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
}
.header {
    background-color: var(--background);
    padding-top: 21px;
    padding-bottom: 21px;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-logo {
    width: 93px;
    height: 38px;
}
.header-logo-link {
    margin-right: 81px;
}
.header-list {
    display: flex;
}
#header-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#header-button::after {
    content: "";
    display: block;
    width: 9px;
    height: 5px;
    margin-left: 8px;
    background-image: url(../images/header-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.header-item:first-child {
    position: relative;
}
.header-sublist {
    display: none;
    position: absolute;
    top: 20px;
    left: -30px;
    width: 150px;
    background-color: var(--background);
    border: solid 1px var(--main);
    border-top: none;
    border-radius: 0 0 20px 20px;
}
.header-subitem {
    text-align: center;
}
.header-sublink {
    display: block;
    padding: 10px 0 10px 0;
}
.header-sublink:hover, .header-sublink:focus {
    background-color: var(--hover);
}
.header-subitem:last-child .header-sublink {
    border-radius: 0 0 20px 20px;
}
.header-link {
    margin-right: 50px;    
}
.header-link:hover, .header-link:focus {
    color: var(--main-hover);
}
#header-button:hover::after, #header-button:focus::after {
    background-image: url(../images/header-arrow-hover.svg);
}
.header-wrap {
    display: flex;
    align-items: center;
}
.header-switch {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: none;
    background-image: url(../images/light-mode.svg);
    cursor: pointer;
    margin-right: 51px;
}

.fortitle-title {
    font-size: 24px;
    text-align: center;
}

.popup {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
    display: block;
    z-index: 1;
}
.popup-popup {
    position: fixed;
    left: calc(50% - (576px / 2));
    top: calc(50% - (316px / 2));
    background-color: white;
    width: 576px;
    height: 316px;
    padding: 46px 92px 47px 92px;
    border-radius: 20px;
    background-image: url(../images/sword.svg),  url(../images/puzzle.svg),  url(../images/game-development.svg),  url(../images/tic-tac-toe.svg);
    background-repeat: no-repeat;
    background-position-x: 41px,  85px,  505px,  461px;
    background-position-y: 154px,  230px,  154px,  230px;
    z-index: 2;
}
.popup::after {
    display: none;
}
.popup-text {
    text-align: center;
}
.popup-text:first-child {
    margin-bottom: 42px;
}
.popup-text:nth-child(2) {
    margin-bottom: 18px;
}
.popup-input {
    display: block;
    border: none;
    border-radius: 20px;
    background-color: var(--input);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}
.popup-input:hover, .popup-input:focus {
    background-color: var(--input-hover);
}
.popup-input::placeholder {
    opacity: 1;
    color: var(--placeholder);
}
.popup-button {
    display: block;
    border: none;
    border-radius: 20px;
    background-color: var(--main);
    box-shadow: 3px 3px 0px 0px var(--shadow);
    padding: 10px;
    color: var(--background);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.popup-button:hover, .popup-button:focus {
    box-shadow: 2px 2px 0px 0px var(--shadow);
    background-color: var(--main-hover);
}
.popup-close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-image: url(../images/close-icon.svg);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.popup-close:hover, .popup-close:focus {
    background-image: url(../images/close-icon-hover.svg);
}

.year-input {
    width: 180px;
}
.year-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 576px;
    align-items: center;
}
.year-text {
    text-align: right;
}

.rps {
    position: relative;
}
.rps-list {
    position: relative;
    width: 256px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 36px auto;
}
.rps-itembutton {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--main);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.rps-item:first-child .rps-itembutton {
    background-image: url(../images/rock.svg);
}
.rps-item:nth-child(2) .rps-itembutton {
    background-image: url(../images/scissors.svg);
}
.rps-item:nth-child(3) .rps-itembutton {
    background-image: url(../images/paper.svg);
}
.rps-text {
    height: 15px;
    text-align: center;
    margin-bottom: 36px;
}
.rps-button {
    display: block;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--main);
    border-radius: 20px;
    color: var(--background);
    cursor: pointer;
}
.rps-button:hover, .rps-button:focus, .rps-itembutton:hover, .rps-itembutton:focus {
    background-color: var(--main-hover);
}
.rps-score {
    position: absolute;
    width: fit-content;
    right: 20%;
    top: 92px;
    line-height: 170%;
}